@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');

body{
	font-family: "Raleway", sans-serif;
}

/*DROPDOWN*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li:first-child {
    float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li font {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

li.dropdown{
	display: inline-block;
}

.active {
  background-color: #04AA6D;
}

.dropdown-content{
	display: none; 
	position: absolute; 
	background-color: #FFFFFF;
	min-width: 100px;
}

.dropdown-content a{
	color: black;
	padding: 10px 30px;
	text-decoration: none; 
	display: block;
	text-align: left;
}

.dropdown-content a:hover{background-color: #B8B8B8;}

.dropdown:hover .dropdown-content{
	display: block;
}
/*DROPDOWN*/


table, td, th{
	border: 0px solid;
	padding: 20px;
	margin: 10px;
	vertical-align: text-top;
}

th{
	font-size: 20px;
	font-weight: bolder;
}

td{
	font-size: 16px;
	font-style: normal;
	text-align: center;
}

td.ex1{
	font-size: 16px;
	font-style: normal;
	text-align: left;
}

td.name{
	font-size: 50px;
	padding: 100px;
	margin: 100px;
	vertical-align: text-top;
}

table{
	width: 10%;
	border-collapse: collapse;
	vertical-align: text-top;
}

p.price{
	font-size: 40px;
	font-weight: bolder;
	font-style: normal;
}

