@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');

body{
	font-family: "Raleway", sans-serif;
}

table {
  border:1px white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li:first-child {
    float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li font {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

li.dropdown{
	display: inline-block;
}

.active {
  background-color: #04AA6D;
}

.dropdown-content{
	display: none; 
	position: absolute; 
	background-color: #FFFFFF;
	min-width: 100px;
}

.dropdown-content a{
	color: black;
	padding: 10px 30px;
	text-decoration: none; 
	display: block;
	text-align: left;
}

.dropdown-content a:hover{background-color: #B8B8B8;}

.dropdown:hover .dropdown-content{
	display: block;
}

body {
  background-color:black;
}

.galeria1 {
  height: calc( 300px + 3em);
  width: 260px;
  margin:1em auto;
 
  position: relative;  
}

.galeria1 img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 5s;
}

.galeria1 input[type=radio] {
  position: relative;
  bottom: calc(-300px - 0.5em);
  left: .10em;
}

.galeria1 input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria1 input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria1 input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria1 input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

.galeria2 {
  height: calc( 300px + 3em);
  width: 260px;
  margin:1em auto;
 
  position: relative;  
}

.galeria2 img {
  position: absolute;
  top: 10;
  left: 0;
  opacity: 0;
  transition: opacity 5s;
}

.galeria2 input[type=radio] {
  position: relative;
  bottom: calc(-300px - 0.5em);
  left: .10em;
}

.galeria2 input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria2 input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria2 input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria2input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

.galeria3 {
  height: calc( 300px + 3em);
  width: 260px;
  margin:1em auto;
 
  position: relative;  
}

.galeria3 img {
  position: absolute;
  top: 10;
  left: 70;
  opacity: 0;
  transition: opacity 5s;
}

.galeria3 input[type=radio] {
  position: relative;
  bottom: calc(-300px - 0.5em);
  left: .10em;
}

.galeria3 input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria3 input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria3 input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria3 input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}
   footer {
            background-color: grey;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70px;
            color: white;
        }

        .text-center {
            text-align: center;
        }
		
